/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;600;700&display=swap");

* {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #707070;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    /*transition: var(--tran-05);*/
}

a {
    color: #0d6efd;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

body.dark a {
    color: #599cff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

::selection {
    background-color: var(--primary-color);
    color: #707070;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #7c7c7c;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 20px;
    font-weight: 600;
}

header .image-text .name2 {
    font-size: 16px;
    margin-top: -5px;
    display: block;
    text-align: right;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image ion-icon {
    color: #ccc;
    width: 40px;
    height: 40px;
    transition: var(--tran-05);
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--text-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--sidebar-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar header .toggle:hover {
    background-color: #969696;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle:hover {
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    /*transition: var(--tran-05);*/
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: all 1s linear;
}

body.dark .switch::before {
    left: 20px;
    transition: all 1s linear;
}

.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* ===== Container ===== */

.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-collapse: collapse;
    text-align: center;
}

.table .thead th {
    border-right: 1px dashed rgba(112, 112, 112, 0.125);
    font-size: 15px;
}

.table th {
    border-bottom: 1px dashed rgba(112, 112, 112, 0.125);
    padding: 3px 4px;
}

.table td {
    border-bottom: 1px dashed rgba(112, 112, 112, 0.125);
    border-right: 1px dashed rgba(112, 112, 112, 0.125);
    padding: 2px 4px;
}

.table tr:last-child td {
    border-bottom: none;
}

.table .thead th:last-child,
.table td:last-child {
    border-right: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(204, 204, 204, .125);
    border-radius: 6px;
}

.card .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card .card-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(204, 204, 204, 0.03);
}

.card .card-footer {
    padding: 0.5rem 1rem;
    border-top: 1px solid rgba(204, 204, 204, 0.03);
}

.card .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card .card-footer .btn,
div .btn {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    transition: var(--tran-05);
}

.menu .menu-links .active {
    border: 1px dotted var(--primary-color);
    border-radius: 6px;
}

body.dark .menu .menu-links .active {
    border: 1px dotted var(--toggle-color);
    border-radius: 6px;
}

/* ===== CSS/hover ===== */
.menu .menu-links .active:hover {
    border: none;
}

body.dark .menu .menu-links .active:hover {
    border: none;
}

.table tr:hover td {
    transition: var(--tran-05);
}

.table tr:hover td,
.card .card-footer .btn:hover,
div .btn:hover {
    background-color: var(--primary-color);
    transition: var(--tran-05);
}

.table tr:hover td,
.table tr:hover .fa-trash,
.card .card-footer .btn:hover .btn-text,
div .btn:hover .btn-text {
    color: var(--sidebar-color);
    transition: var(--tran-05);
}

input[type=file]:hover {
    color: #0d6efd;
    transition: var(--tran-05);
}

body.dark input[type=file]:hover,
.table tr:hover td .a-td {
    color: #599cff;
    transition: var(--tran-05);
}

body.dark .table tr:hover td,
body.dark .table tr:hover .fa-trash,
body.dark .card .card-footer .btn:hover .btn-text,
body.dark div .btn:hover .btn-text {
    color: var(--text-color);
    transition: var(--tran-05);
}

.toggle-switch .switch:hover {
    background-color: var(--text-color);
    transition: var(--tran-05);
}

.table .tbody .a-td:hover {
    background-size: 100% 2px;
    transition: var(--tran-05);
}

/* ===== icons ===== */

.table .tbody .fa-trash {
    height: 100%;
    width: 100%;
    align-items: center;
    border: none;
    color: var(--text-color);
    transition: var(--tran-05);
    transform-style: preserve-3d;
}

.table .tbody .fa-trash:after {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14px;
    font-weight: 400;
    top: -100%;
    left: 0;
    width: 100%;
    position: absolute;
    color: #ff5353;
    content: 'Удалить';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.table .tbody .fa-trash:hover,
body.dark .table .tbody .fa-trash:hover {
    color: #ff5353;
    transition: var(--tran-05);
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}



/* ===== del pages ===== */
.btn-del {
    width: 25%;
    display: inline-flex;
    justify-content: space-evenly;
}


/**/
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--sidebar-color);
    background-clip: padding-box;
    border: 1px solid var(--sidebar-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 6px;
    transition: var(--tran-05);
}
p {
    margin-bottom: 1rem!important;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}
