<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href='{% static "adminapp/css/style.css" %}'>
    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

</head>

<body class="">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

{% include 'adminapp/includes/inc_admin_menu.html' %}

<section class="home">
    <div class="text">
        {% block content %}
        {% endblock %}
    </div>
</section>

<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src='{% static "adminapp/js/script.js" %}'></script>

</body>

</html>