{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="user_delete">
    Уверены, что хотите удалить {{ product_to_delete.name }}?
    <div style="padding-top: 10px">
        <form action="{% url 'admin_staff:category_delete' product_to_delete.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Удалить">
        </form>
    </div>
    <div style="padding-top: 10px">
        <button class="btn btn-success" style="width: 88.63px">
            <a href="{% url 'admin_staff:categories' %}" style="color:#fff;text-decoration:none;">
                Отмена
            </a>
        </button>
    </div>
</div>
{% endblock %}