{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <!--        <h1 class="mt-4">Товары</h1>-->
        <div class="card mb-4">
            <div class="card-header">
                <i class='bx bx-table'></i>
                Товары категории: <strong>{{ category.name|title }}</strong>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead">
                    <tr>
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                        <th>Детали</th>
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>

                    <tbody class="tbody">
                    {% for product in objects %}
                    <tr {% if not product.is_active %} style="opacity: 0.5;" {% endif %}>
                        <td>{{ product.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <a href="{% url 'admin_staff:product_read' product.pk %}" class="a-td">Подробнее</a>
                        </td>
                        <td>
                            <a href="{% url 'admin_staff:product_update' product.pk %}" class="a-td">Изменить</a>
                        </td>
                        <td>
                            <a {% if not product.is_active %} class="invisible" {% endif %}
                               href="{% url 'admin_staff:product_delete' pk=product.id %}">
                                <i class="fas fa-trash" {% if not product.is_active %}style="display: none"{% endif %}></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'admin_staff:product_create' category.pk %}">
                    <button class="btn btn-success">
                        <span class="btn-text">Создать товар</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}