{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_form.as_p }}

    <div style="padding-top: 10px">
        <button type="submit" class="btn btn-success">
            <span class="btn-text">Сохранить</span>
        </button>
    </div>
</form>

<div style="padding-top: 10px">
    <a href="{% url 'admin_staff:categories' %}">
        <button type="submit" class="btn btn-back">
            <span class="btn-text">Назад</span>
        </button>
    </a>
</div>
{% endblock %}